<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home">Back</ion-back-button>
    </ion-buttons>
    <ion-title>userlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item *ngFor = "let personaje of characters" [routerLink]="['/profile/' + personaje.id]">
      <ion-avatar>
        <img src="{{personaje.image}}" alt="{{personaje.name}}">
      </ion-avatar>
      <ion-label></ion-label>
      <ion-label>
        {{personaje.name}}
      </ion-label>
      <ion-label>
        {{personaje.status}}
      </ion-label>
      <ion-label>
        {{personaje.species}}
      </ion-label>
      <ion-label>
        <ion-img src="{{personaje.image}}"></ion-img>
      </ion-label>


    </ion-item>
  </ion-list>

</ion-content>
